*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */
:root {
    --ff-primary: 'Roboto', sans-serif;

    --fw-reg: 300;
    --fw-bold: 400;

    --clr-dark: #363636;
    --clr-mid-dark: #3f4042;
    --clr-light: #f2f2f2;
    --clr-accent: #c3352e;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 1100px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}


/* General */
html { scroll-behavior: smooth }

body {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
}

img {
    display: block;
    max-width: 100%;
}

.btn {
    border: none;
}


/* Title */
.title {
    margin: 0;
    padding: 0 25px;
    background-color: var(--clr-mid-dark);
    filter: drop-shadow(0 0.2rem 0.5rem #000);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Cards */
.card {
    margin: 25px;
    padding: 5px 15px;
    border: var(--clr-accent) 2px solid;
    border-radius: 25px;
}

.card-title {
    text-align: center;
}