*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */
:root {
    --ff-primary: 'Roboto', sans-serif;

    --fw-reg: 300;
    --fw-bold: 400;

    --clr-dark: #363636;
    --clr-mid-dark: #4a4b4e;
    --clr-light: #f2f2f2;
    --clr-accent: #c3352e;
    --clr-accent-light: #e4726c;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}


/* General */
html { scroll-behavior: smooth }

body {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    margin: 0;
    padding-bottom: 15px;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
}

img {
    display: block;
    max-width: 100%;
}

.btn {
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    padding: 0.75em 1.5em;
    background-color: var(--clr-accent);
    color: var(--clr-light);
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: var(--fs-body);
    transition: 150ms ease-in-out;
}

.btn:hover {
    background-color: #a02d27;
    scale: 105%;
    filter: drop-shadow(0 0.25em 0.2em var(--clr-accent));
}


/* Title */
.title {
    margin: 0;
    padding: 0 25px;
    background-color: var(--clr-light);
    filter: drop-shadow(0 0.2rem 0.5rem #000);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.logo {
    max-width: 5em;
}

/* Cards */
.card {
    margin: 2em auto;
    padding: 0.5em 1em 1em;
    border: var(--clr-dark) 0.5px solid;
    border-radius: 25px;
    background-color: var(--clr-mid-dark);
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 550px;
}

.card-title {
    text-align: center;
    margin: 0 auto;
    padding: 0.5em;
}

.card-subtitle {
    text-align: center;
    margin: 0 auto 15px;
}

/* Lists */
.list-items { line-height: 1.8em }

.item span { color: var(--clr-accent-light) }


/* Desktop */
@media (min-width: 800px) {
    img {
        height: 3em;
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .card {
        margin: 1.4em 2em;
        width: 800px;
    }
}