*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */
:root {
    --ff-primary: 'Roboto', sans-serif;

    --fw-reg: 300;
    --fw-bold: 400;

    --clr-dark: #363636;
    --clr-mid-dark: #3f4042;
    --clr-light: #f2f2f2;
    --clr-accent: #c3352e;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}


/* General */
html { scroll-behavior: smooth }

body {
    background-color: var(--clr-mid-dark);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
}

img {
    display: block;
    max-width: 100%;
}

.btn {
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    padding: 0.75em 1.5em;
    background-color: var(--clr-accent);
    color: var(--clr-light);
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: var(--fs-body);
}



/* Title */
.title {
    margin: 0;
    padding: 0 25px;
    background-color: var(--clr-mid-dark);
    filter: drop-shadow(0 0.2rem 0.5rem #000);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.logo {
    max-width: 10em;
}

/* Cards */
.card {
    margin: 2em;
    padding: 0.5em 1em 1em;
    border: var(--clr-dark) 0.5px solid;
    border-radius: 25px;
    background-color: var(--clr-mid-dark);
    filter: drop-shadow(0.25rem 0.75rem 0.25rem var(--clr-dark));
    display: flex;
    flex-direction: column;
}

.card-title {
    text-align: center;
    margin: 0 auto;
    padding: 0.5em;
}

@media (min-width: 800px) {
    .cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}